<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Channel Page</title>
</head>
<body>
    <h1>Welcome <span id="fullName" th:text="${fullName}"></span>, to the
        <span id="span_channelName" th:text="${channelName}" style="color:cadetblue"></span> Channel
    </h1>
    <div>
        <label>Chat History</label>
        <div id="chatHistory" style="border: thin solid cadetblue;width: 50%;"></div>
        <div>
            <textarea id="chatMessage" name="chatMessage" style="width: 40%"></textarea>
            <span id="span_uid" style="display: none;" th:text="${fullName}"></span>
            <span id="span_firstName" style="display: none;" th:text="${firstName}"></span>
            <span id="span_lastName" style="display: none;" th:text="${lastName}"></span>
            <span id="span_cid" style="display: none;" th:text="${channelId}"></span>
        </div>
        <div>
            <!-- button id="btnTest" type="submit" style="width:25px;height:25px"></button -->
        </div>
        <script th:inline="javascript" src="/js/channel.js">
        </script>
        <script th:inline="javascript" src="/js/poller.js">
        </script>
    </div>
</body>
</html>