<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
        <h1>Welcome
            <!-- span th:if="${user.firstName != null} and ${user.firstName != ''}">[[${user.firstName}]]</span -->
            <!-- span th:unless="${user.firstName != null} and ${user.firstName != ''}">Guest</span -->
            <span th:text="${#strings.defaultString(user.firstName,'Guest')}"></span>
        </h1>
    </div>
    <br>
    <form th:action="@{/welcome/channel}" th:method="POST">
        <div>
            <label>First Name</label>
            <input type="text" th:field="${user.firstName}" />
        </div>
        <div>
            <label>Last Name </label>
            <input type="text" th:field="${user.lastName}"/>
        </div>
            <br>
        <div>
            <label>Join Channel</label>
            <select id="channelId" name="channelId" th:with="channel=*{channel}">
                <option value ="" th:disabled="disabled" th:selected="selected">-- Select Channel --</option>
                <option th:each="item : ${channel.channel}" th:value="${item.key}" th:text="${item.value}"></option>
            </select>
            <br><br>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>